---
import Layout from "../../layouts/Layout.astro";
import { getProjectsList } from "../../api/ProjectsGetList";
import { Image } from "astro:assets";
import Arrow from "public/assets/images/Arrow.png";
import { StarsBackground } from "../../components/StarsBackground/StarsBackground";
import { MaxWidthContainer } from "../../components/MaxWidthContainer/MaxWidthContainer";
import { ProjectGallery } from "../../components/ProjectGallery/ProjectGallery";
import type { Project } from "../../types/types";

export async function getStaticPaths() {
  const projects = await getProjectsList();

  return projects.map(
    ({
      slug,
      title,
      projectStage,
      technologyStack,
      shortDescription,
      projectImages,
      description,
      links,
    }) => {
      return {
        params: { slug },
        props: {
          title,
          projectStage,
          technologyStack,
          shortDescription,
          projectImages,
          description,
          links,
        },
      };
    },
  );
}

const {
  title,
  projectStage,
  description,
  technologyStack,
  projectImages,
  links,
  slug,
} = Astro.props as Project;
---

<Layout title={title}>
  <main class="relative font-gimenell w-full min-h-screen">
    <StarsBackground client:load starsAmount={50} className="absolute h-full" />
    <MaxWidthContainer className="mx-5 md:mx-10 pb-10">
      <div class="text-white z-10 pt-7 md:pt-10 w-full">
        <a
          href="javascript:history.back()"
          class="flex items-center text-3xl font-VT323 gap-3.5 hover:text-neonBlue hover:[text-shadow:_2px_2px_0_rgb(250_0_255_/_200%)]"
        >
          <Image src={Arrow} alt="" class="w-8 rotate-90" />
          <p class="mb-0.5">Back</p>
        </a>
        <div
          class="font-VT323 flex flex-col lg:flex-row justify-between py-5 lg:py-10"
        >
          <div>
            <h1
              class="text-5xl py-4 font-gimenell sm:py-0 md:text-6xl lg:text-7xl text-neonBlue tracking-wide [text-shadow:_6px_5px_0_rgb(250_0_255_/_200%)] lg:mt-5"
            >
              {title}
            </h1>
            <div class="flex flex-col gap-2">
              <p class="text-xl md:text-2xl mt-5">
                Project stage: {projectStage}
              </p>
              <div class="flex gap-3 gap-y-2 flex-wrap text-xl md:text-2xl">
                Technology stack: {
                  technologyStack.map((item) => {
                    return <p class="bg-slate-500 px-2.5 rounded-lg">{item}</p>;
                  })
                }
              </div>
              <div class="flex gap-3 flex-wrap text-xl md:text-2xl">
                Links:
                {
                  links.map((link) => {
                    return (
                      <a
                        href={link.url}
                        target="_blank"
                        class="bg-fuchsia-500 px-2.5 rounded-lg"
                      >
                        {link.linkName}
                      </a>
                    );
                  })
                }
              </div>
            </div>
          </div>
          <ProjectGallery client:load projectImages={projectImages} />
        </div>
        <div class="font-VT323 text-2xl flex gap-4 flex-col mt-5 md:mt-10">
          <p class="text-xl sm:text-2xl md:text-3xl">{description}</p>
        </div>
      </div>
    </MaxWidthContainer>
  </main>
</Layout>
